{{> header }}

<main class="content">
    <ul class="articles-list">
        {{#each posts }}
            <li class="articles-list__article">
                <div>
                    <h2 class="article-preview__title">
                        <a
                            {{#if url}}
                                href="{{ url }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            {{else}}
                                href="/{{ path }}"
                            {{/if}}
                        >{{ title }}</a>
                        {{#if url}}<span class="article-preview__icon article-preview__icon--external"></span>{{/if}}
                    </h2>
                    <div class="article-preview__date">{{ date }}</div>
                    <p class="article-preview__excerpt">{{ excerpt }}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</main>

{{> footer }}
